* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background: #2c254a;
    height: 100vh;
    color: #828690
}

.NavBar, .SideBar {
    background: #3b3363
}

    .SideBar {
        display: none !important;
    }
    .SideBar.open {
        display: flex !important;
    }

    .FooterNav.open {
        display: flex !important;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,.3);
        z-index: 9999;
    }

    .FooterNav .expanded {
        display: none;
    }

    .FooterNav .reduced {
        background: #3b3363;
    }

    .FooterNav.open .reduced {
        display: none;
        background: #3b3363;
    }

    .FooterNav.open .expanded {
        display: flex;
        background: #3b3363;
        align-self: flex-end;
        width: 90%;
        max-width: 350px;
        margin: 0 auto;
    }


@media (min-width: 640px) {
    .FooterNav {
        display: none !important;
    }
        .FooterNav.open {
            justify-content: center;
            align-items: center;
        }
            .FooterNav.open .expanded {
                display: flex;
                max-width: 350px;
                align-self: center;
            }
    .SideBar,
    .SideBar.open {
            display: flex !important;
        }
}

@media (min-width: 768px) {
}
